datacenter_name     = "Edge3"
cluster_name        = "Edge3-Cluster"
datastore_name      = "edge3-vsanDatastore"
vm_network_name     = "Edge3-TKG-WKL"
vsphere_user        = ""
vsphere_password    = ""
vsphere_server      = ""
template_name       = "packer-linux-ubuntu-server-20-04-lts"
machine_count       = 2
hostname_prefix     = "edge3-byoh-example"
username            = ""
encrypted_passwd    = ""
ssh_public_key      = ""
packages            = ["jq","socat","ebtables","ethtool","conntrack"]
dhcp                = "true"
ip_address          = ""
netmask             = "24"
gateway             = "172.16.203.1"
nameservers         = ["192.168.101.2","1.1.1.1"]
